@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    line-height: 1.7;
    margin: 0px;
    display: block;
    background-color: hsl(25, 61%, 94%);
}

main {
    max-width: 920px;
    margin: 0px auto;
    background-color: hsl(25, 61%, 94%);
    border-radius: 16px;
    margin-top: -32px;
}

section {
    background-color: white;
}

h1 {
    color: white;
    margin: 0px;
    font-size: 4rem !important;
}

h2 {
    font-size: 1.8rem;
    color: rgb(1, 1, 204);
}

main section {
    padding: 32px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 1);
}

main section h2::before {
    display: inline-block;
    content: " ⭐ ";
    color: gold;
    margin-right: 10px;
    vertical-align: top;
    font-size: 25px;
}

.block-header {
    margin-top: 100px;
}

.block-header p {
    padding-bottom: 35px;
}

#site-header {
    background-image: url("https://static8.depositphotos.com/1370441/858/i/600/depositphotos_8582958-stock-photo-amazing-landscape-beautiful-mountain-sunset.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 20px 40px;
    border-bottom: 4px solid gold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    height: 30vh;
}


#site-header nav ul li {
    display: inline-block;
    margin: 0 4px;
    border-radius: 4px 4px 0 0;
    border: 1px solid white;
    text-decoration: none;
    padding: 7px;
    
}

#site-header nav ul li:hover {
    color: rgb(1, 1, 204);
    border-radius: 4px 4px 0 0;
    background-color: gold;
    border: 1px solid gold;

}

#site-header nav ul li:hover .icon,
#site-header nav ul li:hover a {
    color: blue; 
}



#site-header nav ul {
    margin-left: -50px;
    list-style: none;
}

#site-header h1 {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

#site-header p {
    color: hsl(25, 61%, 94%);
    margin: 0px;
}

#site-header ul {
    margin: 0px;
}

#site-header a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
    padding: 4px 8px;
    margin: 0;
}

.icon {
    font-size: 1.3rem;
    margin: 0px;
    color: white;
    vertical-align: auto;
    display: inline-block;
}

#chi-sono p:first-of-type::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    margin-right: 6px;
    color: rgb(1, 1, 204);

}

#competenze {
    clear: both;
}

#competenze li:nth-child(odd) {
    background-color: aliceblue;
    display: inline-block;
}

#competenze li:first-of-type {
    font-weight: bold;
}

#competenze ul li::before {
    content: "☆";
    margin-right: 5px;
}

/* tabella competenze */

.skill {
    width: 90%;
    height: 15px;
    background-color: lightgray;
    border-radius: 20px;
    margin-left: 20px;
    margin: 0;

}

.skill-bar {
    height: 100%;
    background-color: gold;
    border-radius: 20px;
}

.html {
    width: 75%;
}

.css3 {
    width: 60%;
}

.git {
    width: 65%;
}

.linea{
    width: 80%;
}

.markdoen {
    width: 55%;
}

.t-comp th {
    background-color: hsl(55, 96%, 96%);
    border-radius: 8px;

}

.t-comp h3 {
    margin-bottom: 5px;
    color: rgb(1, 1, 204);
    padding-top: 5px;
    margin: 5px;
    
}
.t-comp h4 {
    margin: 0;
    padding-left: 10px;
    
}
 .t-comp p {
    margin: 0;
    margin-right: 10px;
    color: #676666;
    margin-left: 10px;
 }

#competenze .t-comp th:first-child {
    width: 45%;
}
/* tabella esperienze */
table {
    width: 100%;
    text-align:left;
    border-collapse: collapse;
}

.t-exp th {
    background-color: hsl(55, 96%, 96%);
}

.t-exp h3 {
    margin-bottom: 5px;
    color: rgb(1, 1, 204);
    padding-top: 5px;
    margin: 5px;
}

.t-exp td {
    padding: 10px;
}

ul li {
    list-style: none;
}

caption {
    text-align: left;
    color: rgb(1, 1, 204);
    opacity: 0.6;
    font-size: 18px;
}

.t-exp tr {
    border-bottom: 0.5px solid rgb(223, 212, 212);
}
/* Progetti */
 #progetti a {
    text-decoration: none;
    font-size: 20px;
 }

#progetti a:hover {
    border-bottom: 2px solid gold;
 }


.paginaRicetta {
    background-color: hsl(55, 96%, 96%);
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid rgb(1, 1, 204);
    padding: 20px;
    margin-bottom: 15px;

}

.presentazione {
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid gold;
    padding: 20px;
    margin-bottom: 15px;
}

.portfolio {
    background-color: hsl(55, 96%, 96%);
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid rgb(1, 1, 204);
    padding: 20px;
    margin-bottom: 15px;
}

.paginaRicetta:first-of-type h3::after {
    content: "NEW";
    display: inline-block;
    padding: 2px 8px;
    margin-left: 12px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.75rem;
}

#progetti h3 {
    color: rgb(1, 1, 204);
}

label {
    color: rgb(1, 1, 204);
}

label {
    font-weight: bold;
}

input::placeholder,
textarea::placeholder {
    color: #060000;
}

.contattami input:focus,
textarea:focus {
    background-color: white;
}


#date {
    background-color: transparent;
}


button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(1, 1, 204);
    color: white;
}

button:hover {
    color: gold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.avatar {
    width: 110px;
    height: 110px;
    border: 4px solid gold;
    border-radius: 50%;
    float: left;
    margin: 0 24px 12px 0;
}
/*aside*/
aside {
    background-color: white;
    max-width: 855px;   
    padding: 32px;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.anime {
    background-color: hsl(55, 96%, 96%);
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid rgb(1, 1, 204);
    padding: 20px;
    margin-bottom: 15px;
}

#suDiMe .testo-sudime h2::before {
    display: inline-block;
    content: " ⭐ ";
    color: gold;
    margin-right: 10px;
    vertical-align: top;
    font-size: 25px;
}

.musica {
    background-color: white;
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid gold;
    padding: 20px;
    margin-bottom: 15px;
}

.motori{
    background-color: hsl(55, 96%, 96%);
    border-radius: 8px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-left: 6px solid rgb(1, 1, 204);
    padding: 20px;
    margin-bottom: 15px;
}
.form input, select {
    width: 100%;
    height: 40px;
    background-color: hsl(55, 96%, 96%);
    
}

.form textarea {
    width: 100%;
    background-color: hsl(55, 96%, 96%);
}
/*contatti*/
#contatti {
    color: wheat;
}

#contatti p a:link,
#contatti p a:visited {
    color: rgb(202, 250, 250);
}

footer {
    background-color: rgb(0, 0, 78);
    text-align: center;
    border-radius: 8px 8px 0 0;
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
    color: #999999;
}

.iconFoot a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    margin: 0 auto;
    line-height: 50px;
}

.iconFoot a:hover {
    background-color: gold;
    color: rgb(1, 1, 204);
}

.newPage {
    text-align: right;
}

.newPage a:link,
.newPage a:visited {
    color: rgb(1, 1, 204);
}

#contatti p {
    margin: 0;
}
